

CONFIG_GPIO_PCA953X=y

CONFIG_INPUT=y
CONFIG_INPUT_POLLDEV=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_USB_HID=y
CONFIG_INPUT_TOUCHSCREEN=y

CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_UINPUT=y
CONFIG_HIDRAW=y
CONFIG_HID_MULTITOUCH=y
CONFIG_TOUCHSCREEN_USB_COMPOSITE=y

CONFIG_VIDEO_LVICAM=y
CONFIG_INPUT_LVIPANEL=n
CONFIG_I2C_LVICONFIG=y
CONFIG_I2C_LVIBATTERY=y
CONFIG_PWM_LVIPWM=n
CONFIG_GPIO_LVISEESAW=n

CONFIG_EEPROM_AT24=m  
CONFIG_NVMEM=y 

CONFIG_MTD_M25P80=y
CONFIG_SPI_SPIDEV=y
CONFIG_M24C02=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_RTC_LVIRTC=y
CONFIG_BACKLIGHT_NCS8801S=y
CONFIG_GPIO_LVIGPIO=y
CONFIG_DRM=y
CONFIG_DRM_IMX=y
CONFIG_DRM_IMX_LDB=y
CONFIG_DRM_IMX_HDMI=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_CAT5157_DPOT=y
CONFIG_OF_I2C=y
